@model PizzaDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Name} Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <img src="@Model.ImageUrl" class="card-img-top" alt="Pizza Image">
                <div class="card-body">
                    <h2 class="card-title">@Model.Name</h2>
                    <p class="card-text">@Model.Description</p>
                    <h4 class="card-text">Price: $@Model.InitialPrice</h4>
                    <h4 class="card-text">Dough: @Model.DoughName</h4>
                    <h4 class="card-text">Products:</h4>
                    <ul>
                        @foreach (var product in Model.Products)
                        {
                            <li>@product.Name</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>